@charset "UTF8";

body{
    background-color: rgb(245, 107, 1);
}

header{
    background-color: white;
    margin: 10px;
    padding: 20px;
    
   
    
    
  

}

img{
    width: 92px;
    height: 65px;
    position: absolute;
    top: 40px;
    left: 50px;
    
   
}

nav{
    text-indent: 180px;
}

button{
    margin: 10px 10px 10px 10px;
    height: 67px;
    width: 131px;
    border-radius: 30px 0px 30px 30px;
    border: none;
    background-color: rgb(151, 226, 158);
}

button > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

